<html lang="pt-br"><head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/v2/scripts/style/style.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style><style type="text/css">.vue-notification-group{display:block;position:fixed;z-index:5000}.vue-notification-wrapper{display:block;overflow:hidden;width:100%;margin:0;padding:0}.notification-title{font-weight:600}.vue-notification-template{background:#fff}.vue-notification,.vue-notification-template{display:block;box-sizing:border-box;text-align:left}.vue-notification{font-size:12px;padding:10px;margin:0 5px 5px;color:#fff;background:#44a4fc;border-left:5px solid #187fe7}.vue-notification.warn{background:#ffb648;border-left-color:#f48a06}.vue-notification.error{background:#e54d42;border-left-color:#b82e24}.vue-notification.success{background:#68cd86;border-left-color:#42a85f}.vn-fade-enter-active,.vn-fade-leave-active,.vn-fade-move{transition:all .5s}.vn-fade-enter,.vn-fade-leave-to{opacity:0}</style></head>




<body>
    <!--parte da nome prinipal da loja-->
    <section class="home-section">
        <div class="home-content">
            <span class="text">Reaper PC casa do Gamer brasileiro</span>
        </div>
        
        
       
        <section class="catalog" id="catalog">
            <div class="content">
                <div class="title-wrapper-catalog">
                    <h1>Pronto, agora escolha qual tipo de processador você gostaria de escolher:</h1>
                </div>
                
                <div class="monte-wrapper">
                    <div class="card-item">
                        <img src="/v2/img/amd/process1.jpg" alt="tp">
                        <div class="card-content">
                            <h3>AmD Ryzen™ 9 5950X<br> Processadores para desktop</h3>
                            <button type="button"><strong><a href="4/1">Selecionar</a></strong></button>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/v2/img/amd/process2.jpg" alt="tp">
                        <div class="card-content">
                            <h3>AMD Ryzen™ 7 5800X<br>Processador para jogos 3D</h3>
                            <button type="button"><strong><a href="4/2">Selecionar</a></strong></button>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/v2/img/amd/process3.jpg" alt="tp">
                        <div class="card-content">
                            <h3>AmD Ryzen™ 9 5900X <br>Processadores para desktop</h3>
                            <button type="button"><strong><a href="4/3">Selecionar</a></strong></button>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/v2/img/amd/process4.jpg" alt="tp">
                        <div class="card-content">
                            <h3>AMD Ryzen™ 7 5800X<br>processadores para desktop </h3>
                            <button type="button"><strong><a href="4/4">Selecionar</a></strong></button>
                        </div>
                    </div>
                    <div class="card-item">
                        <img src="/v2/img/amd/process5.jpg" alt="tp">
                        <div class="card-content">
                            <h3>AmD Ryzen™ 9 5900X <br>Processadores para desktop</h3>
                            <button type="button"><strong><a href="4/5">Selecionar</a></strong></button>
                        </div>
                    </div>

                </div>
            </div>
        </section>

       

    </section>


</body></html>