<html lang="pt-br"><head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/v2/scripts/style/style.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style><style type="text/css">.vue-notification-group{display:block;position:fixed;z-index:5000}.vue-notification-wrapper{display:block;overflow:hidden;width:100%;margin:0;padding:0}.notification-title{font-weight:600}.vue-notification-template{background:#fff}.vue-notification,.vue-notification-template{display:block;box-sizing:border-box;text-align:left}.vue-notification{font-size:12px;padding:10px;margin:0 5px 5px;color:#fff;background:#44a4fc;border-left:5px solid #187fe7}.vue-notification.warn{background:#ffb648;border-left-color:#f48a06}.vue-notification.error{background:#e54d42;border-left-color:#b82e24}.vue-notification.success{background:#68cd86;border-left-color:#42a85f}.vn-fade-enter-active,.vn-fade-leave-active,.vn-fade-move{transition:all .5s}.vn-fade-enter,.vn-fade-leave-to{opacity:0}</style></head>




<body>
    <!--parte da nome prinipal da loja-->
    <div class="sidebar close">
        <div class="logo-details">
            <img id="logo pricipal" src="/v2/img/logo.png">
        </div>
        
        <!--final-->
        <!--parte das logos do menu de navegação-->

        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class="bx bxs-home"></i>
                    <span class="link_name">Tela Inicial</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Tela inicial</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bx-desktop"></i>
                        <span class="link_name">Desktops</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Desktops</a></li>
                    <li><a href="placasmae">Placa mãe</a></li>
                    <li><a href="processador">Processador</a></li>
                    <li><a href="armazenamento">Armazenamento</a></li>
                    <li><a href="placa de video.html">Placa de vídeo</a></li>
                    <li><a href="Memorias">Mermória Ram</a></li>
                    <li><a href="fontes">Fontes</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bx-mouse"></i>
                        <span class="link_name">Periféricos</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">Periféricos</a></li>
                    <li><a href="mouse">Mouse</a></li>
                    <li><a href="teclado">Teclado</a></li>
                    <li><a href="monitores">Monitores</a></li>
                    <li><a href="headset">Headset</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a href="#">
                        <i class="bx bx-power-off"></i>
                        <span class="link_name">Qual escolher?</span>
                    </a>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="#">monte seu PC</a></li>
                    <li><a href="#">PC Básico</a></li>
                    <li><a href="#">PC intermediário</a></li>
                    <li><a href="#">Linha gamer</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-flame"></i>
                    <span class="link_name">Em Alta</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Em alta</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="bx bxs-help-circle"></i>
                    <span class="link_name">Sobre nós</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Sobre Nós</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--fim do código da tela inicial-->
                        <!--inicio parte do logon-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Fazer Login</div>
                        <div class="job">Ou cadastre-se</div>
                    </div>
                    <i class="bx bx-log-out"></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="home-content">
            <i class="bx bx-menu"></i>
            <span class="text">Reaper PC casa do Gamer brasileiro</span>
        </div>
        
        
       
        <section class="catalog" id="catalog">
            <div class="content">
                <div class="title-wrapper-catalog">
                    <h1>Qual das duas marcas seria?</h1>
                </div>
                
                <div class="monte-wrapper">
                    <div class="card-item">
                        <img src="/v2/img/amd.jpg" alt="tp">
                        <div class="card-content">
                            <h3>Marca - AMD</h3>
                            <button type="button"><strong><a href="amd-select">Selecionar</a></strong></button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/intel.png" alt="tp">
                        <div class="card-content">
                            <h3>Marca - INTEL</h3>
                            <button type="button"><a href="intel-select">Selecionar</a> </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>

       

    </section>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>

    <!--fim da perte do logon com javascript-->


</body></html>