<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/v2/scripts/style/style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>




<body>
    <!--parte da nome prinipal da loja-->
    <section class="home-section">
        <div class="home-content">
            <center>
                <span class="text">Reaper PC casa do Gamer brasileiro</span>
            </center>
        </div>
        <header>
            <div class="filter-card">
            <input type="text" class="search-input" placeholder="pesquise aqui" />
            <button class="search-button">buscar</button>
            </div>
            <br>
            <div>
                <a href="/monte-seu-pc">
                <center><h1><strong>Querendo montar seu PC do seu geito e feito por você?</strong></h1>
                    <button class="montepc-button">Monte aqui!</button>
                </center>
                </a>
            </div>
        </header>
        <section id="slider">

            <div class="slider">

                <div class="slides">

                    <div class="slide first">
                        <img src="https://cdn.dooca.store/107/files/cadeira-rgm.png?v=1645705942" />
                    </div>
                    <div class="slide">
                        <img src="https://cdn.dooca.store/107/files/pla-de-video-2.png?v=1645725879" />
                    </div>
                    <div class="slide">
                        <img src="https://cdn.dooca.store/107/files/gamemax.jpg?v=1624971794" />
                    </div>
                    <div class="slide">
                        <img src="https://cdn.dooca.store/107/files/bannerwork.png?v=1574104382" />
                    </div>


                    
                    <div class="navigaion-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>

                <div>

                    <div class="manual-navigation">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>
        </section>
       
        <section class="catalog" id="catalog">
            <div class="content">
                <div class="title-wrapper-catalog">
                    <h1>Confira nossas promoções a baixo:</h1>
                </div>
                
                <div class="card-wrapper">
                    <div class="card-item">
                        <img src="/v2/img/carrier.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador Carrier</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><strong><a href="paginapc">Comprar</a></strong></button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/erion-tgt-rgb-amd-gtx-001_8-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador Erion</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc2">Comprar</a> </button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/frost-mancer-intel-geforce-tuf-003-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador Frost</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc3">Comprar</a> </button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/narok-mancer-intel-rtx-0001_1-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador narok</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc4">Comprar</a></button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/ranger-mancer-amd-rx-gtx-001_2-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador Ranger</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc5">Comprar</a></button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/templar-amd-gtrx-001-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador templar</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc6">Comprar</a></button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/stealth-amd-1030-001_20-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador Stealth</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc7">Comprar</a></button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/typhoon-mancer-amd-gtx-rx-001_8_1-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Teclado</h3>
                            <p>
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc8">Comprar</a></button>
                        </div>
                    </div>

                    <div class="card-item">
                        <img src="/v2/img/baixados-removebg-preview.png" alt="tp">
                        <div class="card-content">
                            <h3>Computador Razer</h3>
                            <p> 
                                computador Gamer exotico
                            </p>
                            <button type="button"><a href="paginapc3">Comprar</a></button>
                        </div>
                    </div>

                </div>
            </div>
        </section>

       
        <footer>
            <div class="main">
                <div class="content footer-links">
                    <div class="footer-company">
                        <h4>company</h4>
                        <h6>about</h6>
                        <h6>contact</h6>
                    </div>
                    <div class="footer-rental"></div>
                    <h4>rental</h4>
                    <h6>self-driver</h6>
                    <h6>chauffer-driven</h6>
                    <h6>help</h6>
                    <div class="footer-social" style="color: #000000;">
                        <h4>stay connected</h4>
                        <div style="color: #000000;" class="social-icons">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div style="color: #000000;" class="footer-contact">
                        <h4>contact us</h4>
                        <h6>+55 19 98989-8989</h6>
                        <h6>+55 19 98989-8989</h6>
                        <h6>+55 19 98989-8989</h6>
                        <h6>nome da rua</h6>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>

    <!--fim da perte do logon com javascript-->
</body>

</html>