<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Gamer6</title>
    <link rel="stylesheet" href="pgcompra.css">
</head>
<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand"><strong><i><a href="index2.html">ReaperPC</a></i></strong>
                
                </p>
                <ul>
                    <input
             type="text" 
             class="search-input"
              placeholder="Pesquisar"
              />
                    <li><strong><i><a href="#Home">Home</a></i></strong></li>
                    <li><strong><i><a href="#Atendimento ao cliente">Atendimento ao cliente</a></i></strong></li>
                    <li><strong><i><a href="#Sobre">Sobre</a></i></strong></li>
                    <button ><strong>CARRINHO</strong></button>
                </ul>
                </nav>
               </div>
               
    </header>


<sectionn class="about" id="about">
    <div class="content">
        <div class="title-wrapper-about">
           
        </div>
        <div class="about-content">
            <div class="left">
                <img src="images/templar-amd-gtrx-001-removebg-preview.png" alt="about">
            </div>
            
            <div class="right">
                <h3>COMPUTADOR PICHAU GAMER DEEPCOOL,<br>
                    AMD RYZEN 5 5600G, 16GB DDR4, SSD 240GB</h3>
               <div id="bot">  <button type="button"><a href="">COMPRAR</a> </button></div>
                <div id="de">de R$4.795,00 por:</div>
                <div class="pequena">a partir de</div>
                <div id="gd"><strong>R$3.599,14</strong></div>
                    
                <div class="pequena">no PIX com 12% desconto</div>
                
             <div class="comprar">   <button ><strong>Comprar</strong></button></div>
                
            </div>
        </div> 
    </div>
</sectionn>


</body>
