<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Gamer2</title>
    <link rel="stylesheet" href="pgcompra.css">
</head>
<body>
    <header>
        <div class="content">
            <nav>
                <p class="brand"><strong><i><a href="index2.html">ReaperPC</a></i></strong>
                
                </p>
                <ul>
                    <input
             type="text" 
             class="search-input"
              placeholder="Pesquisar"
              />
                    <li><strong><i><a href="#Home">Home</a></i></strong></li>
                    <li><strong><i><a href="#Atendimento ao cliente">Atendimento ao cliente</a></i></strong></li>
                    <li><strong><i><a href="#Sobre">Sobre</a></i></strong></li>
                    <button ><strong>CARRINHO</strong></button>
                </ul>
                </nav>
               </div>
               
    </header>


<sectionn class="about" id="about">
    <div class="content">
        <div class="title-wrapper-about"></div>
        <div class="about-content">
            
                <table border="0">
                    <tr>
                        <td rowspan="4"><img src="images/erion-tgt-rgb-amd-gtx-001_8-removebg-preview.png" alt="about"> </td>
                        <td colspan="5" id="titulo"> COMPUTADOR PICHAU GAMER DEEPCOOL,<br>
                            AMD RYZEN 5 5600G, 16GB DDR4, SSD 240GB</td>
                    </tr>
                    
                        <button id="botao" align="right">COMPRAR</button></td>
                   <tr>
                    <table>
                        <tr>
                            <td id="desc">Sobre este item
                                O computador Gamer Mancer, foi feito para você jogar seus jogos preferidos e atender sua necessidade doméstica ou profissional.
                                Destaques para processador AMD Ryzen 5 4650G com placa gráfica integrada, 8GB de memória ram DDR4, armazenamento SSD 1240GB, fonte de alimentação 500W 80 PLUS, tudo em um gabinete Erion.
                                Sistema operacional Windows 10.
                                Roda: Fortnite, Valorant, free fire, GTA 5, Minecraft, League of Legends, e muito mais jogos.</td>
                        </tr>
                    </table>

                         <td colspan="5" rowspan="4" id="vl"><strong> de R$4.795,00</strong> <br>
                      <div id="party"> <strong>a partir de</strong></div><br>
                       <div id="party2"> <strong> R$3.599,14</strong></div></td>
                        
                   </tr>

                   <tr>
                    <td> pao</td>
                    <td>
                    </tr>
            
                </table>
        </div>
    </div> 
    
</sectionn>

  
</body>




















